QuovadisCaProxy/Client/XSDs/GetAccountDomainListRequest.xsd

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:element name="GetAccountDomainListRequest" type="GetAccountDomainListRequestType" />
	<xsd:complexType name="GetAccountDomainListRequestType">
		<xsd:sequence>
			<xsd:element name="DateTime" type="xsd:dateTime" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="Account" type="xsd:string" minOccurs="1" maxOccurs="1" />
			<xsd:element name="Test" type="xsd:boolean" minOccurs="0" />
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
