QuovadisCaProxy/Client/XSDs/GetAccountPolicyTemplateListRequest.xsd

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:element name="GetAccountPolicyTemplateListRequest" type="GetAccountPolicyTemplateListRequestType" />
	<xsd:complexType name="GetAccountPolicyTemplateListRequestType">
		<xsd:sequence>
			<xsd:element name="DateTime" type="xsd:dateTime" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="Account" type="xsd:string" minOccurs="1" maxOccurs="1" />
			<xsd:element name="Test" type="xsd:boolean" minOccurs="0" />
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>